.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
.cache
server/dist
public/dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Next.js
.next

# env files
.env*.local
*.local
.env
.dev.vars

.vinxi
.wrangler
